.container {
  display: inline-flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.input {
  padding: 16px;
  background-color: transparent;
  border: 0px none;
  outline: 3px solid transparent;
  color: var(--text-color);
  &:disabled {
    color: var(--disabled);
  }
}

.input__container {
  border-radius: 4px;
  background-color: transparent;
  border: 4px solid var(--text-border-color);
  display: inline-flex;
  transition: border-color 0.5s;
  width: inherit;
  &:hover,
  &:focus-within {
    border: 4px solid var(--text-border-focused-color);
  }
  &--disabled {
    border: 4px solid var(--disabled-color-transparent);
  }
}
